[user]
	name = Carlos Eduardo
	email = carlos@carlinhoslehn.com
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore
[push]
	default = simple
[color]
	ui = true
[merge]
	tool = meld
[diff]
	algorithm = patience
